<app-header titulo="Datas"></app-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Mês</ion-label>
      <ion-datetime displayFormat="MMMM" value="2012-12-15T13:47:20.789"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Data Simples</ion-label>
      <ion-datetime
        placeholder="Data"
        displayFormat="DD/MM/YYYY"
        cancelText="Cancelar"
        doneText="Ok"
        [ngModel]="dataAtual.toISOString()"
        (ionChange)="trocarData($event)"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Intervalo de Data</ion-label>
      <ion-datetime
        placeholder="Data"
        displayFormat="DD/MM/YYYY"
        cancelText="Cancelar"
        doneText="Ok"
        [ngModel]="dataAtual.toISOString()"
        min="2020-01-01"
        max="2020-12-31"
      ></ion-datetime>
    </ion-item>
  </ion-list>

</ion-content>