<app-header titulo="Abas"></app-header>

<ion-content>

    <ion-tabs>
        <ion-tab-bar slot="bottom">

            <ion-tab-button tab="inicio">
                <ion-icon name="home-outline"></ion-icon>
                <ion-label>Início</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="alert">
                <ion-icon name="alert"></ion-icon>
                <ion-label>Alertas</ion-label>
                <ion-badge>6</ion-badge>
            </ion-tab-button>

            <ion-tab-button tab="map">
                <ion-icon name="map"></ion-icon>
                <ion-label>Map</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="about">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>About</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

</ion-content>