<ion-menu side="start" menuId="first" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
      <ion-item *ngFor="let c of componentes | async" [routerLink]="c.link">
        <ion-icon slot="start" [name]="c.icone"></ion-icon>
        <ion-label>{{ c.nome }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>